<div class="table-lib-main">
  <table>
      <colgroup>
          <col span="1" *ngFor="let column of columns;" [style.width]="column.width + 'px'">
      </colgroup>
      <thead stickyHead>
          <tr>
              <th *ngFor="let column of columns;" id="{{column.name}}" resizeCol>
                  <div [style.width]="column.width - 1 + 'px'">
                      {{column.displayText}}
                  </div>
                  <!-- <div class="resizer" [style.width]="width + 'px'">{{width}}</div> -->
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of columnData; let i = index;">
              <td *ngFor="let column of columns;">
                  {{data[column.name]}}</td>
          </tr>
      </tbody>  
  </table>
</div>