<ng-template component-host></ng-template>
<div class="table-lib-main">
  <table>
      <colgroup>
          <col span="1" *ngFor="let header of tableHeaders;" [style.width]="header.width + 'px'">
      </colgroup>
      <thead stickyHead>
          <tr>
              <th *ngFor="let header of tableHeaders;" id="{{header.name}}" resizeCol>
                  <div [style.width]="header.width - 1 + 'px'">
                      {{header.displayText}}
                  </div>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of tableData; let i = index;">
              <td *ngFor="let header of tableHeaders;">
                  {{data[header.name]}}</td>
          </tr>
      </tbody>  
  </table>
</div>