<!-- <app-component-loader [ads]="components"></app-component-loader>
<app-component-loader [ads]="components"></app-component-loader> -->


<div class="table-lib-main">
    <table>
        <colgroup>
            <col span="1" *ngFor="let header of tableHeaders;"
                [style.width]="(header.width ? header.width: 200) + 'px'">
        </colgroup>
        <thead stickyHead>
            <tr>
                <th *ngFor="let header of tableHeaders;" resizeCol>
                    <div [style.width]="(header.width ? header.width: 200) - 1 + 'px'">
                        {{header.displayText}}
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of tableData">
                <ng-container *ngFor=" let header of tableHeaders;">
                    <td>
                        <div *ngIf="(header.mapWith == '' && header.component != ''); else elseBlock">
                            <app-component-loader [component]="components[comp]" [data]="row" *ngFor="let comp of header.components"></app-component-loader>
                        </div>
                        <ng-template #elseBlock>{{row[header.mapWith]}}</ng-template>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>